Random character probability: 0.1
Rounds completed: 100
Lowest accuracy: 0.022
Highest accuracy: 1.0
Average accuracy: 0.76896

Random character probability: 0.2
Rounds completed: 100
Lowest accuracy: 0.022
Highest accuracy: 0.994
Average accuracy: 0.69958

Random character probability: 0.3
Rounds completed: 100
Lowest accuracy: 0.488
Highest accuracy: 0.896
Average accuracy: 0.6294800000000002

Random character probability: 0.4
Rounds completed: 100
Lowest accuracy: 0.48
Highest accuracy: 0.98
Average accuracy: 0.6129200000000001

Random character probability: 0.5
Rounds completed: 100
Lowest accuracy: 0.488
Highest accuracy: 0.698
Average accuracy: 0.5972999999999999
