Random character probability: 0.1
Rounds completed: 100
Lowest accuracy: 0.022
Highest accuracy: 1.0
Average accuracy: 0.76896

Random character probability: 0.2
Rounds completed: 100
Lowest accuracy: 0.022
Highest accuracy: 0.994
Average accuracy: 0.69958

Random character probability: 0.3
Rounds completed: 100
Lowest accuracy: 0.488
Highest accuracy: 0.896
Average accuracy: 0.6294800000000002

Random character probability: 0.4
Rounds completed: 100
Lowest accuracy: 0.48
Highest accuracy: 0.98
Average accuracy: 0.6129200000000001

Random character probability: 0.5
Rounds completed: 100
Lowest accuracy: 0.488
Highest accuracy: 0.698
Average accuracy: 0.5972999999999999

Random character probability: 0.1
Rounds completed: 3
Lowest accuracy: 0.47
Highest accuracy: 0.796
Average accuracy: 0.6033333333333334

Random character probability: 0.2
Rounds completed: 3
Lowest accuracy: 0.546
Highest accuracy: 0.924
Average accuracy: 0.7386666666666667

Random character probability: 0.3
Rounds completed: 3
Lowest accuracy: 0.632
Highest accuracy: 0.93
Average accuracy: 0.7506666666666667

Random character probability: 0.4
Rounds completed: 3
Lowest accuracy: 0.532
Highest accuracy: 0.594
Average accuracy: 0.56

Random character probability: 0.5
Rounds completed: 3
Lowest accuracy: 0.61
Highest accuracy: 0.644
Average accuracy: 0.6246666666666667

Random character probability: 0.6
Rounds completed: 3
Lowest accuracy: 0.602
Highest accuracy: 0.654
Average accuracy: 0.636

Random character probability: 0.7
Rounds completed: 3
Lowest accuracy: 0.632
Highest accuracy: 0.656
Average accuracy: 0.642

Random character probability: 0.8
Rounds completed: 3
Lowest accuracy: 0.65
Highest accuracy: 0.726
Average accuracy: 0.6853333333333333
